<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766008553053-cd8d0pgp8u5ul8sh6qnfsd6nmd2e52cq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766008553053-cd8d0pgp8u5ul8sh6qnfsd6nmd2e52cq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>766008553053-2j0mht40l9d01enk8ajggqhep0pkpdv1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKSIbNwlhWMXHENs4MEWpXywnHIw-xYQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>766008553053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.findthetreasure.findTheTreasure</string>
	<key>PROJECT_ID</key>
	<string>find-the-treasure-8d58f</string>
	<key>STORAGE_BUCKET</key>
	<string>find-the-treasure-8d58f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766008553053:ios:68eb321988a487be1527b4</string>
	<key>DATABASE_URL</key>
	<string>https://find-the-treasure-8d58f.firebaseio.com</string>
</dict>
</plist>